/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f9f9f9;
}

@media only screen and (min-width: 600px) {
    .modal {
        height: fit-content !important;
    }
    .modal img {
        max-height: 200px;
    }
}

.button-bar {
    transition: .1s;
}